*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family:"微软雅黑";
}

a{
	text-decoration: none;
	color:#333;
}
ul,ol{
	list-style: none;
}
input,button{
	border: none;
	outline: none;
	-webkit-appearance:none;
}
.body{
	width: 100%;
	height: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.head{
	width: 100%;
	height: 60px;

	line-height: 60px;
	background-color: rgb(28,38,53);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head>a{
	width: 60px;
	height: 60px;
	display: inline-block;
	background-image: url(../images/3-jianjiao.png);
	background-repeat: no-repeat;
	background-position: center;
}
.head>.oval{
	display: inline-block; 
	width: 60%;
	height: 40px;
	border: 1px solid rgb(13,18,26);
	line-height: 40px;
	border-radius: 50px;
	background-color: rgb(13,18,26);
}
.head>.oval1{
	display: inline-block;
	width: 60px;
	height: 60px;
}
.head>.oval>a>.about_to{
	width: 50%;
	height: 38px; 
	display: inline-block;
	color: rgb(255,255,255);
	text-align: center;
	background-color: rgb(28,38,53);
	border-radius: 50px;
	/* margin-left: 50%; */ 
}
.head>.oval>a>.be_being{
	color: white;
	text-align: center;
	margin-left: 10px; 
	display: inline-block;
	width: 42%;
}



section>.seek{
	width: 100%;
	height: 60px;
	background-color: rgb(246,246,246);
	line-height: 60px;
	display: flex;
	justify-content: space-around;

}
section>.seek>div{
	width: 70px;
	display: flex;
	justify-content: space-around;
}

section>.seek>div>img{
	width: 16px;
	height: 10px;
	margin-top: 25px; 	
}
section>.seek>a>input{
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border:1px solid rgb(187,187,187);
	padding-left: 40px; 
	background-image: url(../images/3-fangdajing.jpg);
	background-repeat: no-repeat;
	background-size:20px 20px;
	background-position: 10px;
}




.footer>.footer_nav>ul{
	width: 100%;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	display: flex;
	justify-content: space-around;

}
.footer>.footer_nav>ul>li{
	float: left;
}
.footer>.footer_nav>ul>li>a{
	color:rgb(0,116,197);
	width: 100%;
}



 .footlink{
 	width: 100%;
 	height: 40px;
 	border: 1px solid rgb(246,246,246);
 	line-height: 40px;
 	background-color: rgb(246,246,246);
 }        
.footer>.footlink>ul{
	width: 100%
	line-height: 40px;
	display: flex;
	justify-content: space-around;
}
.footer>.footlink>ul>li{
	font-size: 16px;
}
.copy>.copy_img{
	width: 100%x;
	height: 30px;
	background-color: rgb(246,246,246);
}
.copy>.copy_img>img{
	height: 30px;
	display: block;
	margin:0 auto;
}
.copy>.copy_copor{
	width: 100%;
	height: 40px;
	background-color: rgb(246,246,246);
	margin: auto;
}
.copy>.copy_copor>span{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 10px;
	color: rgb(205,205,205);
}
.imga{
	width: 100%;

}
.imga>img{
	width: 100%;
	display: flex;
}


.background{
	width: 100%;
	height: 20px;
	background-color: rgb(246,246,246);
}



.zui{
	font-size: 19px;
	font-weight: bold;
	margin: 10px;
}
.zui>span{
	color: rgb(153,153,153);
}
.date>.date1{
	color: rgb(153,153,153);
	margin-left: 10px; 
	width: 10%;
}
.date>.date2{
	width: 80%;
	height: 5px;
	border-top:1px solid rgb(153,153,153);
	display: inline-block;
	width: 75%;
}



.ul>li{
	width: 100%;
	display: flex;
}
.ul>li>a{
	width: 25%;
	margin: 10px;
}
.ul>li>.div2{
	width: 70%;
	margin: 10px;
	padding: 10px;
}

.ul>li>a>.div1>img{
	width: 100%;
}


.ul>li>.div2>.p{
	font-weight: bold; 
	font-size: 19px;
}
.ul>li>.div2>.p1{
	margin-top: 10px;
}
.ul>li>.div2>.p1>.span{
	color: rgb(255,134,0);
}
.ul>li>.div2>.p4{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top:10px; 
}
.ul>li>.div2>.p4>a{
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.ul>li>.div2>.p4>a>span{
	width: 90%;
	height: 40px;
	text-align: center;
	border-radius: 20px;
	line-height: 40px;
}
.ul>li>.div2>.p4>a>.span3{
	background-color: rgb(255,134,0);
	color: rgb(255,255,255);
}
.ul>li>.div2>.p4>a>.span4{
	border:1px solid rgb(101,156,13);
	color: rgb(101,156,13);
}



.ji{
	margin: 10px;
	font-size: 20px;
	font-weight: bold; 
}
.ji>span{
	color: rgb(153,153,153);
}
.qi{
	margin-left: 10px; 
	margin-bottom: 10px;
	font-size: 19px;
}


.ul1>li{
	width: 100%;
	display: flex;
	border-top: 1px solid rgb(187,187,187);
}
.ul1>li>a{
	width: 25%;
	margin: 10px;
}
.ul1>li>.div4{
	width: 70%;
	margin: 10px;
	padding: 10px;
}

.ul1>li>a>.div3>img{
	width: 100%;
}
.p5{
	font-weight: bold;
	font-size: 20px;

}
.p6>.span6{
	margin-top: 10px;
	color:rgb(255,134,0); 
}

.ul1>li>.div4>.p8{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top:10px; 
}
.ul1>li>.div4>.p8>a{
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.ul1>li>.div4>.p8>a>span{
	width: 90%;
	height: 40px;
	text-align: center;
	border-radius: 20px;
	line-height: 40px;
}
.ul1>li>.div4>.p8>a>.span8{
	background-color: rgb(255,134,0);
	color: rgb(255,255,255);
}
.ul1>li>.div4>.p8>a>.span9{
	border:1px solid rgb(101,156,13);
	color: rgb(101,156,13);
}