*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	width: 100%;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
	min-width:320px;
	max-width:640px;
	margin: 0 auto;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
.city{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:rgb(28,38,53);
	width:100%;
	height:56px;
}
.city>.back{
	display:inline-block;
	color:rgb(146,151,158);
	font-size:2.3rem;
}
.city>.subject{
	display:inline-block;
	background-image:url(../images/1-8.png);
	width:45px;
	height:45px;
	background-size:45px 45px;
}

.list{
	/*width: 100%;*/
	/*height:148px;*/
	display: flex;
	justify-content: content;
}
#scrollBox{
	width: 100%;
	overflow-x: hidden;
	background-color:rgb(130,130,130);
}
#scrollBox .list li{
	padding: 15px 5px;
	height: auto;
}
#scrollBox .list li>img{
	width: 100%;
	display: block;
	opacity: 0.5;
}
#scrollBox .list li>img.border{
	border:1px solid white;
	opacity: 1;
}
#scrollBox .list li>.character{
	text-align:center;
	color:rgb(255,255,255);
}
.a1{
	color:rgb(130,130,130);
}
.text_div{
	display: none;
}
#title{
	text-align:center;
	border-bottom:1px solid rgb(216,216,216);
}
#title>#details{
	font-size:1.4rem;
	font-weight:bolder;
}
#title>#topic{
	font-size:1.2rem;
	color:rgb(119,119,119);
}
#title>#topicone{
	color:rgb(119,119,119);
	font-size:1.3rem;
	text-align:right;
}
#title>#topictwo{
	color:rgb(119,119,119);
	font-size:1.2rem;
	/*text-align:right;*/
}
#title>#topicthree{
	font-size:1.5rem;
	text-align:right;
}