*{
	margin: 0;
	padding: 0;
	/*去掉点击高亮效果-主要针对移动端*/
	-webkit-tap-highlight-color:transparent;
	/*设置元素宽高计算方式*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*设置统一的字体*/
body{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/*重置input样式*/
input{
	border:none;
	/*去掉选中状态下的高亮效果*/
	outline: none;
	/*清除移动端默认的表单样式*/
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
::-webkit-scrollbar{
	width:0px;
}

.MallSearch_container{
	width: 100%;
	height: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.MallSearch_container>.header{
	height: 55px;
	width: 100%;
}
.MallSearch_container>.header>.header_box{
	width: 100%;
	height: 100%;
	background-color: rgba(28,38,53,1);
	display: flex;
	align-items: center;
}
.header_box_back{
	width: 10%;
	height: 37px;
	margin-left: 2%;
}
.header_box_search{
	width: 70%;
	height: 37px;
	border-radius: 10px;
	font-size: 17px;
	padding-left: 10%;
	background-image: url(../images/4Asearch.png);
	background-size: 7% 60%;
	background-repeat: no-repeat;
	background-position: 5%;
}
.header_box_submit{
	width: 13%;
	height: 34px;
	margin-left: 2%;
	color: white;
	font-weight: bolder;
	border: 1px solid white;
	border-radius: 5px;
	background-color: rgba(28,38,53,1);
	font-size: 16px;
}
#MallSearch_main{
	width: 100%;
}


.Brush{
	width: 100%;
	background-color: rgb(246,246,246);
	position: relative;
}
.brush_nav{
	width: 100%;
	height: 50px;
	background-color: white;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(219,219,219);
	margin-bottom: 3%;
}
.brush_nav>div,.brush_nav>span{
	font-size: 17px;
	text-align: center;
	line-height: 40px;
}
.brush_nav>div{
	width: 33%;
	display: flex;
	align-items: center;
	justify-content:space-around;
}
.brush_nav>span{
	color: rgb(212,212,212);
}
.brush_title{
	margin-left: 10%;
}
.down_arrow1{
	width: 26px;
	height: 26px;
	background-image: url(../images/4topArrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color:white;
}
.down_arrow2{
	width: 26px;
	height: 26px;
	background-image: url(../images/4topArrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.down_arrow3{
	width: 26px;
	height: 26px;
	background-image: url(../images/4topArrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#brush_sort{
	width: 100%;
	height: 96%;
	background-color:rgba(0,0,0,0.3);
	position: absolute;
	top: 50px;
	z-index: 1000;
	display: none;
}
#brush_sort_box{
	width: 100%;
	padding-left: 5%;
	background-color: white;
}
#brush_sort_box>li{
	width: 100%;
	height: 55px;
}
.sort1{
	line-height: 55px;
	color: rgb(30,125,215);
	font-size: 17px;
	border-bottom: 1px solid rgb(30,125,215);
}
.sort2{
	line-height: 55px;
	color: black;
	font-size: 17px;
	border-bottom: 1px solid rgb(216,216,216);
}
.sort3{
	line-height: 55px;
	color: black;
	font-size: 17px;
	border-bottom: 1px solid rgb(216,216,216);
}
.sort4{
	line-height: 55px;
	color: black;
	font-size: 17px;
	border-bottom: 1px solid rgb(216,216,216);
}
.sort5{
	line-height: 55px;
	color: black;
	font-size: 17px;
	border-bottom: 1px solid rgb(216,216,216);
}



#product_list{
	width: 100%;
	overflow: hidden;
}
#product_list_box{
	width: 100%;
	overflow: hidden;
}
#product_list_box>li{
	width: 49%;
	background-color: white;
	float: left;
	margin-bottom: 1%;
	margin-left: 0.5%;
	margin-right: 0.5%;
}
#product_list_box>li>a{
	width: 100%;
	position: relative;

}
.iconText{
	color: white;
	background-color: rgb(37,172,189);
	position: absolute;
	top: 0;
	left: 0;
}
.img{
	width: 100%;
	margin-bottom: 5%;
}
.img>img{
	width: 100%;
}
.main{
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}
.main_div1{
	width: 100%;
	margin-bottom: 5%;
	/*color: rgb(255,134,0);*/
}
.main_div2{
	width: 100%;
	height: 10%;
	margin-bottom: 5%;
	display: flex;
	align-items: center;
}
.main_div2_1{
	font-size: 15px;
	color: rgb(255,134,0);
	margin-bottom: 5%;
}
.main_div2_2{
	font-size: 10px;
	line-height: 20px;
	text-decoration: line-through;
	color: grey;
	margin-bottom: 5%;
}




.mall_footer{
	width: 100%;
	height: 170px;
	padding-bottom: 30px;
}
.mall_footer_box{
	height: 100%;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
}
.footer_nav{
	width: 100%;
	height: 55px;
	border-top: 1px solid rgb(242,242,242);
	background-color: white;
	display: flex;
	align-items: center;
	justify-content:space-around;
}
.footer_nav>.footer_nav_a{
	font-size: 17px;
	font-weight: lighter;
	color: rgb(0,116,197);
}
.footlink{
	width: 100%;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content:space-around;
	padding-left: 5%;
	padding-right: 5%;
}
.footlink>a{
	font-size: 15px;
}
.footlink>span{
	color: rgb(218,218,218);
}
.copy{
	width: 100%;
	height: 30px;
/*	display: flex;
	align-items: center;
	justify-content:space-around;*/
}
.copy>.copy_logo{
	width: 100%;
	height: 30px;
	background-image: url(../images/4footerLogo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20% 30px;
}
.copy>.copy_down{
	width: 100%;
	height: 20px;
	font-size: 0.9em;
	line-height: 20px;
	text-align: center;
	color: rgb(205,205,205);
}