*{
	margin:0px;
	padding: 0px;
	-webkit-tap-highlight-color:transparent;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color:#333;
}
input,button{
	border:none;
	outline: none;
	/*-webkit-appearance:none;*/
}
ul,ol{
	list-style-type: none;
}
#body{
	width: 100%;
	/*height: 700;*/
	max-width: 640px;
	min-width: 320px;
	margin:0 auto;
	
}
.gradient{
	max-width: 640px;
	min-width: 320px;
	margin:0 auto;
	width: 100%;
	height: 10px;
	background-image: -webkit-linear-gradient(left, rgb(236,37,46), rgb());
	background-image: -o-linear-gradient(left, rgb(236,37,46), rgb());
	background-image: linear-gradient(to right, rgb(236,37,46), rgb(245,115,55),rgb(252,175,63));
}
.bgpic{
	max-width: 640px;
	min-width: 320px;
	margin:0 auto;
	width: 100%;
	height: 726px;
	background-image: linear-gradient(to top,rgb(224,227,229),rgb(235,237,238),rgb(255,255,255));
	/*background-image: url(../images/btm.png);*/
}
.logo{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}
.logo>img{
	width: 30%;
}
.logo>a{
	color: rgb(0,120,182);
}
form{
	/*width: 100%;*/
	/*text-align:center;*/
	/*display: flex;*/
	/*justify-content: center;
	flex-wrap: wrap;*/
}
.text,.pwd{
	width: 70%;
	height: 35px;
	border:1px solid rgb(215,215,215);
	border-radius: 5px;
	box-shadow: 0 0 3px rgb(215,215,215);
	margin-left: 15%;
}
.check{
	width: 32%;
	/*text-align: left;*/
}
form>span{
	margin-left: -13%;
}
.cancel,.log_in{
	width: 20%;
	height: 30px;
	border:1px solid rgb(190,190,190);
	border-radius: 5px;
	background-color: rgb(235,237,238);
	font-size: 18px;
	color: rgb(102,102,102);
	text-align: center;
	
}
.cancel{
	margin-left: 27%;
}
.log_in{
	color: white;
	background-color: rgb(246,59,73);
	border:none;
}
.forget{
	display: inline-block;
	color:rgb(0,120,182);
	margin-left: 13%;
	margin-top: 15px;
}